*{
    margin: 0px;
    padding: 0px;
}

header{
    font-family: sans-serif;
}

header h1{
    text-align: center;
}

header h3{
    text-align: center;
}

.logo{
    display: flex;
}

.logo h1{
    margin-top: 10px;
}


.container{
    display: grid;
    grid-template-columns: repeat(3,400px);
    column-gap: 10px;
    row-gap: 5px;
    margin-top: 50px;
    margin-left: 50px;
}


/* .img6{ */
    /* grid-area: auto; */
    /* grid-row-start: 4; */
    /* grid-row-end: 4; */
/* } */
/*  */
.img2{
    grid-area: auto;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.img12{
    grid-column-start: 2;
    grid-column-end: 4;
}

.img7{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
/*  */
.img8{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}